{% assign entries_layout = page.entries_layout | default: 'list' %}
{% assign postsByYear = site.posts 
  | where_exp: "item", "item.hidden != true and item.categories contains 'news'" 
  | group_by_exp: 'post', 'post.date | date: "%Y"' %}
<div class="card-grid-fp">
    {% assign counter = 0 %}
    {% for year in postsByYear %}
        {% for post in year.items %}
            {% if counter >= 4 %}{% break %}{% endif %}
            <div class="card">
            <div class="card-content-fp">
                {% include card-news-frontpage.html type=entries_layout %}
            </div>
            <div class="card-footer">
                Date posted: {{ post.date | date: "%e %B %Y" }}
            </div>
            </div>
            {% assign counter = counter | plus: 1 %}
        {% endfor %}
        {% if counter >= 4 %}{% break %}{% endif %}
    {% endfor %}
</div>