<div class="logo-container">
  <div class="team-logos">
    <a href="https://www.cam.ac.uk" target="_blank"><img src="/assets/images/logos/University_of_Cambridge-Logo.png" alt="University of Cambridge"></a>
    <a href="https://www.ed.ac.uk" target="_blank"><img src="/assets/images/logos/University_of_Edinburgh-Logo.png" alt="University of Edinburgh"></a>
    <a href="https://www.durham.ac.uk" target="_blank"><img src="/assets/images/logos/Durham_University.png" alt="Durham University"></a>
    <a href="https://www.herts.ac.uk" target="_blank"><img src="/assets/images/logos/University_of_Hertfordshire_Logo.svg.png" alt="University of Hertfordshire"></a>
    <a href="https://www.manchester.ac.uk" target="_blank"><img src="/assets/images/logos/University_of_Manchester-Logo.png" alt="University of Manchester"></a>
    <a href="https://www.ucl.ac.uk" target="_blank"><img src="/assets/images/logos/University_College_London_logo.png" alt="UCL"></a>
    <a href="https://www.scd.stfc.ac.uk/Pages/home.aspx" target="_blank"><img src="/assets/images/logos/STFC_scientific_computer.png" alt="STFC Scientific Computing"></a>
  </div>
</div>
