<div class="logo-container">
  <div class="team-logos">
    <img src="/assets/images/logos/University_of_Cambridge-Logo.png" alt="University of Cambridge">
    <img src="/assets/images/logos/University_of_Edinburgh-Logo.png" alt="University of Edinburgh">
    <img src="/assets/images/logos/Durham_University.png" alt="Durham University">
    <img src="/assets/images/logos/University_of_Hertfordshire_Logo.svg.png" alt="University of Hertfordshire">
    <img src="/assets/images/logos/University_of_Manchester-Logo.png" alt="University of Manchester">
    <img src="/assets/images/logos/University_College_London_logo.png" alt="UCL">
    <img src="/assets/images/logos/STFC_scientific_computer.png" alt="STFC Scientific Computing">
  </div>
</div>
